/* #745b37
#5ba02
#2c2727 */

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Grape+Nuts&family=Montserrat&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Grape+Nuts&family=Herr+Von+Muellerhoff&family=Montserrat&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Grape+Nuts&family=Herr+Von+Muellerhoff&family=Italianno&family=Montserrat&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    
}

a,
a:link,
a:visited{
    text-decoration: none;
    outline: none;
    border: none;
    color: #fff;
}
ul,
li{
    list-style: none;
    margin: 0;
    padding: 0;
}
section,
span,
p{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
}

.container{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}
.header{
    background: url(/webSite/image/bg-coffe.jpg);
    
    background-position: center;
    background-size:cover ;
    background-attachment: fixed;
    height: 100vh;

    
}
.header-navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    color: #fff;
    padding: 40px 0;
    
}

.header-logo{
    text-align: center;
    border-bottom: 5px solid #ffffff;
    border-radius: 45%;  
    
}
.header-logo :first-child{
    font-family: "Italianno", cursive;
    letter-spacing: 20px;
    font-size: 50px;
    font-weight: lighter;
    text-shadow:0 0 25px #fff ;
    margin-bottom: -10px;
}
.header-logo h2{
    font-size: 50px;
    letter-spacing: 10px;
    margin-bottom: 25px;
}
.header-menu ul{
    margin-right:50px ;
    display: flex;
}
.header-menu li{
    margin-left:40px ;
}
.header-menu a{
    font-weight: bold;
    font-size: 20px;
}

.header-text{
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    text-shadow: 0 0 100px #fff;
    
}
h1{
    font-size:12rem ;
    font-weight: 100;
    line-height: 0.5;
    letter-spacing: 2px;
    font-family: "Italianno", cursive;
    color: rgb(167, 118, 50);
    text-shadow: 0px 0 100px #fff;

}

.first-letter{
    font-size: 15rem;
    font-family: "Italianno", cursive;
}
h3{
    margin-bottom: 15px;
    font-size: px;

}
.btn-coffee{
    display: block;
    background-color:rgb(167, 118, 50);
    padding: 10px 15px;
    border-top-left-radius :35px;
    border-bottom-right-radius: 35px;
    position: relative;
    overflow: hidden;
     
}
.btn-coffee:after{
    content: "BUY";
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    color: rgb(167, 118, 50);
    width: 100%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
}

.btn-coffee:hover::after{
    top: 0;
}

/* ?about start */
.about{
    margin-bottom: 150px;

}
.about-title{
    margin: 80px 0;

}
.about-tittle h2{
    width: 100%;
    text-align: center;
    margin: 50px auto;
    color:rgb(167, 118, 50) ;
    font-size: 30px;
    font-weight: 600px;
}
.about-tittle h2::after{
    content: "";
    width: 30px;
    height: 3px;
    background-color: rgb(167, 118, 50);
    margin: 20px auto;
    display: block;
}
.about-content{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.about-img{
    width: 40%;
   
}
.about-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.about-text{
    width: 50%;
}
h4{
    margin-bottom: 10px;
    text-align: center;
    font-size: 70px;
    color: rgb(167, 118, 50) ;
    font-family: "Italianno", cursive;
    letter-spacing: 0.5rem;
    font-weight: lighter;
}
#asterix{
    color: rgb(167, 118, 50);
    margin-bottom: 10px;
    text-align: center;
    font-size: 50px;
}
.about-text p{
    font-size: 20px;
    text-align: center;
    color: #2c2727;
}

.portfolio{
    display: flex;
    flex-wrap: wrap;
}
.portfolio-item{
    width: 25%;
    height: 300px;
    overflow: hidden;
    position: relative;
}
.portfolio-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .5s;
}

.overlay{
    width: 100%;
    height: 100%;
    background-color: #5b2a02;
    position: absolute;
    top: 100%;
    left: 0;
    opacity: 0.8;
    color: #fff;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
}

.portfolio-item:hover .overlay{
    top: 0;
}
.portfolio-item:hover img{
    transform: scale(1.1);
}

/* contact */

.contact{
    padding: 10px 0;
}
.contact h2{
    width: 100%;
    text-align: center;
    margin: 50px auto;
    color:rgb(167, 118, 50) ;
    font-size: 30px;
    font-weight: 600px;
}
.contact h2::after{
    content: "";
    width: 30px;
    height: 3px;
    background-color: rgb(167, 118, 50);
    margin: 20px auto;
    display: block;
}

.contact-content{
    margin-top: 60px;
    display: flex;
    justify-content: space-evenly;
}
.contact-item{
    display: flex;
    align-items: center;
    flex-basis: 33%;
    margin-bottom: 100px;
    flex-direction: column;
}
.contact-item i{
    margin-bottom:30px;
    font-size: 50px;
    color: #5b2a02;
}

.contact-item p{
    font-size: 14px;
    line-height: 30px;
}

/* footer*/
.footer h2{
    width: 100%;
    text-align: center;
    margin: 50px auto;
    color:rgb(167, 118, 50) ;
    font-size: 30px;
    font-weight: 600px;
    padding: 20px 0;
}
.footer h2::after{
    content: "";
    width: 30px;
    height: 3px;
    background-color: rgb(167, 118, 50);
    margin: 20px auto;
    display: block;
}

.footer{
    background-color: black;

}

.footer p{
    color: #fff;
    text-align: center;
    flex-basis: 55%;
    line-height: 2;
    font-size: 13px;
    margin-bottom:20px ;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footer-social i{
    color: #fff;
    font-size: 50px;
    margin-bottom: 50px;
    padding: 0 45px;
}
.footer-social:first-child{
    margin-left: 80px;
}

#menu-icon{
    font-size: 25px;
    display: none;
    margin-left: 20px;
}

@media only screen and (max-width:800px){
    /* .header-logo{
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        flex-direction: column;
        position: absolute;
        top: 10px;
        
    } */
    .header-menu ul{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: absolute;
        top: 200px;
        left: 0;
        background-color: #5b2a02cc;
        width: 100%;   
        overflow: hidden;
        transition:max-height .5s ;
    }
    .header-menu ul li{
        margin-right: 50px;
        margin-top:5px ;
    }
    .header-menu a{
        color: #fff;
    }
    .header-menu #menu-icon{
        display: block;
        cursor: pointer;
        color: #fff;
        
    }
    .header-text{
        top: 60%;
    }
}

@media only screen and (max-width:900px){
    .about-img{
        width: 100%;
        margin-bottom: 30px;
    }
    .about-text{
        width: 100%;
    }
}

@media only screen and (max-width:900px){
    .portfolio .portfolio-item{
        flex-basis: 50%;
    }
}
@media only screen and (max-width:550px){
    .portfolio .portfolio-item{
        flex-basis: 100%;
    }
}
@media only screen and (max-width:800px){
    .contact-content{
        flex-direction: column;
    }
    .contact-item{
        margin-top: 30px;
    }
    .contact-item p{
        width: 100%;
        text-align: center;
    }

}
